{% extends 'jobsapp/base.html' %}
{% block content %}

<ul>
    <h4 class="heading">Find a <span class="accent">jobs </span> For you </h4>
    <form id="jobsearchform" method="get" action="{% url 'searh' %}" class="jobsearchform">
        <div class="controls">
            <div class="row align-items-center">
                <div class="col1">
                    <div class="form-group">
                        <label for="profession">Position</label>
                        <input type="text" id="profession" name="position"
                               placeholder="Position you are looking for" class="form-control">
                    </div>
                </div>
                <div class="col2">
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location"
                               placeholder="Any particular location?" class="form-control">
                    </div>
                </div>
                <div class="col3">
                    <button type="submit"
                            class="subbutton">Find Jobs
                    </button>
                </div>
            </div>
        </div>
    <h2>Jobs <a href="{% url 'job_create' %}">(Post a Job)</a></h2>
    {% for job in jobs %}
    <li>
        <a href="{% url 'job_detail' pk=job.pk %}">{{ job.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}